/* Remove body */
#header, #header nav, aside, .menu-aside-container, #important, #important h3 a, #page, #main {
	display: none!important;
}

/* IE Message */

h1 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 100;
	text-align: center;
	margin: 25% 0;
}